body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.modal {
  position: absolute;
  align-self: center;
  top: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: min-content;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px lightgray;
}
.closeBtn {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}
.modalTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.modalBody {
  line-height: 1.75rem;
}
.modalBoldText {
  padding-top: 2rem;
  font-weight: bold;
}
.modalTitle > h1 {
  width: 100%;
}
.all {
  display: flex;
  height: 100%;
  padding: 2rem;
}
.tagIcon {
  margin-left: 1rem;
  color: blue;
  margin-right: 1rem;
  align-self: flex-start;
}
.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-right: 0.5rem;
}
.primaryBtn {
  background-color: rgba(2, 117, 216, 80%);
  color: white;
}
.modalButtons {
  display: flex;
  width: 100%;
  height: min-content;
}
.primaryBtn:hover {
  background-color: rgba(2, 117, 216, 100%);
  cursor: pointer;
}
.cancelBtn {
  background-color: white;
  border: none;
}
.cancelBtn:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
.survey {
  width: 70vw;
  height: 100%;
  align-self: center;
}
.surveyNav {
  border-bottom: 1px solid gray;
  vertical-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 1.5rem;
}
.backIcon {
  padding: 1rem;
}
.form {
  background-color: white;
}
.surveyHeader {
  text-align: center;
}
.surveyBody {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.surveyForm {
  display: flex;
  flex-direction: column;
}
.radioItem {
  border: 1px solid black;
  width: 50vw;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 15px;
  color: red;
  accent-color: blue;
  background-color: lightblue;
}
.radioItem > label {
  color: blue;
}
.radioLabel {
  margin: 0.5rem;
  border: 1px solid black;

  padding: 1rem;
  max-width: 100%;
  accent-color: blue;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 25px;
}
.radioLabel:hover {
  cursor: pointer;
  background-color: lightBlue;
}
