body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.modal {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 50vh;
  border: 2px solid black;
  margin: 0 auto;
}
.closeBtn {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}
.modalTitle {
  display: flex;
  flex-wrap: wrap;
}
.modalTitle > h1 {
  width: 100%;
}
.tagIcon {
  margin-right: auto;
  margin-left: 1rem;
  color: blue;
}
